<footer class="bg-gray-200 w-full">
    <div class="container p-10">
        <h2 class="text-2xl py-2">Get te FreshCart app</h2>
        <p>We Will send you a link, open it in your phone and download the app.</p>

        <form action="" class="flex flex-wrap justify-between items-center py-5">
            <div class="w-8/12 lg:w-10/12">
                <input type="text" placeholder="Email..."
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white">
            </div>
            <button type="button"
                class="text-white bg-main hover:text-main border border-main hover:bg-white focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:border-main dark:text-main dark:hover:text-white dark:hover:bg-main dark:focus:ring-main">Share
                App Link</button>
        </form>

        <div class="flex flex-wrap justify-between border-t border-b border-gray-300">
            <div class="flex items-center py-5">
                <h3 class="pr-3">Payment Partners: </h3>
                <img src="assets/images/amazon-pay.png" alt="amazon-pay" class="w-24 h-9 object-contain">
                <img src="assets/images/American-Express-Color.png" alt="American-Express"
                    class="w-24 h-9 object-contain">
                <img src="assets/images/mastercard.webp" alt="mastercard" class="w-24 h-9 object-contain">
                <img src="assets/images/paypal.png" alt="paypal" class="w-24 h-9 object-contain">
            </div>
            <div class="flex items-center">
                <h3 class="pr-3">Get deliveries with FreshCart: </h3>
                <img src="assets/images/get-apple-store.png" alt="apple-store" class="w-24 h-9 object-contain">
                <img src="assets/images/get-google-play.png" alt="google-play" class="w-24 h-9 object-contain">
            </div>
        </div>
    </div>
</footer>